# Ignore node_modules
client/node_modules/
client/.next/
# Ignore environment files
*.env

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore SQLite database (if not needed in repo)
server/db.sqlite3
#@@
